lab1/lista
lab3/coada
lab4/arbori
lab4/Lab 4 Arbori binari-20240325.zip:Zone.Identifier
lab5/arboriBC
lab5/Lab 5 Arbori binari de cautari-20240401.zip
lab5/Lab 5 Arbori binari de cautari-20240401.zip:Zone.Identifier
Tema1/main
Tema1/tema1.in
Tema1/tema1.out
Tema1/tren
Tema1/checker.sh
Tema1/chekcer_tema1.zip:Zone.Identifier
Tema1/tema1
Tema1/Teste/Input/test1.in
Tema1/Teste/Input/test2.in
Tema1/Teste/Input/test3.in
Tema1/Teste/Input/test4.in
Tema1/Teste/Input/test5.in
Tema1/Teste/Input/test6.in
Tema1/Teste/Input/test7.in
Tema1/Teste/Input/test8.in
Tema1/Teste/Input/test9.in
Tema1/Teste/Input/test10.in
Tema1/Teste/Input/test11.in
Tema1/Teste/Input/test12.in
Tema1/Teste/Input/test13.in
Tema1/Teste/Input/test14.in
Tema1/Teste/Input/test15.in
Tema1/Teste/Input/test16.in
Tema1/Teste/Input/test17.in
Tema1/Teste/Input/test18.in
Tema1/Teste/Input/test19.in
Tema1/Teste/Input/test20.in
Tema1/Teste/Input/test21.in
Tema1/Teste/Input/test22.in
Tema1/Teste/Input/test23.in
Tema1/Teste/Input/test24.in
Tema1/Teste/Input/test25.in
Tema1/Teste/Input/test26.in
Tema1/Teste/Input/test27.in
Tema1/Teste/Input/test28.in
Tema1/Teste/Input/test29.in
Tema1/Teste/Input/test30.in
Tema1/Teste/Output/test1.out
Tema1/Teste/Output/test2.out
Tema1/Teste/Output/test3.out
Tema1/Teste/Output/test4.out
Tema1/Teste/Output/test5.out
Tema1/Teste/Output/test6.out
Tema1/Teste/Output/test7.out
Tema1/Teste/Output/test8.out
Tema1/Teste/Output/test9.out
Tema1/Teste/Output/test10.out
Tema1/Teste/Output/test11.out
Tema1/Teste/Output/test12.out
Tema1/Teste/Output/test13.out
Tema1/Teste/Output/test14.out
Tema1/Teste/Output/test15.out
Tema1/Teste/Output/test16.out
Tema1/Teste/Output/test17.out
Tema1/Teste/Output/test18.out
Tema1/Teste/Output/test19.out
Tema1/Teste/Output/test20.out
Tema1/Teste/Output/test21.out
Tema1/Teste/Output/test22.out
Tema1/Teste/Output/test23.out
Tema1/Teste/Output/test24.out
Tema1/Teste/Output/test25.out
Tema1/Teste/Output/test26.out
Tema1/Teste/Output/test27.out
Tema1/Teste/Output/test28.out
Tema1/Teste/Output/test29.out
Tema1/Teste/Output/test30.out
lab6/heap
lab7/arbori
lab7/Lab 4 Arbori binari-20240325.zip
