lab1/lista
lab3/coada
lab4/arbori
lab4/Lab 4 Arbori binari-20240325.zip:Zone.Identifier
lab5/arboriBC
lab5/Lab 5 Arbori binari de cautari-20240401.zip
lab5/Lab 5 Arbori binari de cautari-20240401.zip:Zone.Identifier
